body {
    padding: 15px;
    width: 100vw;
    height: 100vh;
    background-color: firebrick;
    color: thistle;
    font-family: "Noto Sans Thai", sans-serif;
    text-transform: uppercase;
}
  
.flex-container {
    text-align:left;
    font-size: 20px;
    line-height: 8px;
    display: flex;
    flex-wrap: wrap;
  }

  p {
    text-decoration: underline;
  }

  div {
    font-weight: 600;
  }
  
h1{
    font-size: 90px;
    line-height: 100px;
    font-weight: 5100;
    padding: 10px;
    text-align: center;
}
  
  hr {
    border-bottom: solid thistle 3px;
  }
  
  .filter {
    display: inline-block;
    padding: 10px;
  }
  
  button {
    border: solid thistle 1.5px;
    border-radius: 9999px;
    padding: 45px;
    padding-left: 60px;
    padding-right: 60px;
    margin: 10px;
    font-size: 30px;
    font-weight: 1000;
    text-transform: uppercase;
    background-color: thistle;
    color: firebrick;
  }
